/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Taviraj:wght@300&display=swap');
/* font-family: 'Taviraj', serif; */

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
/* font-family: 'Dancing Script', cursive; */

@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display&display=swap');
/*font-family: 'Big Shoulders Stencil Display', cursive;  */

        /* ********************************************* */



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
   padding:0px;
   margin:0px;
  /* font-family: 'Taviraj', serif; */
}

section h3{
  font-weight: 400 ;
}
a{
  color: rgb(154 48 23);
}

/* FIRST SECTION */
.section1{
  background-image: url('images/page 1- landing page/page1section1.png');
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;  
  margin: 0px; 
}

.section1 .firstLine{
  background-color: rgb(154 48 23);
  text-align: center;
  margin: 0px;
  color: rgb(255, 255, 255);
}
    /* navigation */
.section1 nav {
  background-color: #edd4aa;
  margin: 0px;
  position: relative;
  top: -16px;
  font-size: 1.5rem;
  height: auto;
}
.section1 a{
   color: rgb(255 255 255);
}
.dropdown-menu{
  background-color: rgb(229 191 128 / 50%);
}
.navIcons a{
  font-size: 100%;
}
nav img{
  margin: 0; 
  width: 60%;  
}
.logo{
  margin-left: auto;  
  margin-right: auto;
}
/* SECTION 2 */

.section2containor{
    text-align: center;
    margin: 5%;
}



/* FOOTER */
footer{
    background-color: #edd4aa;
    color: rgb(154 48 23);
    display: flex;
    height: auto;
    flex-wrap: wrap;
  }
  footer .firstColumn{
    margin: 3rem;
    margin-right: 6.5rem;
  }
  footer .verticalLine{
    margin: 3rem;
    margin-left: 6.5rem;
    margin-right: 0;
  }
  footer .secondColumn{
    margin: 3rem;
  }
.FooterBtn{
  font-size: 2rem;
  border: 0px;
  background-color: transparent;
  margin-right: 1rem;
  cursor: pointer;
}
.download-btn{
  margin: 0px 30px 0px 0px;
}
.verticalLine{
  border-left: 6px solid rgb(154 48 23);
  height: 150px;
}
.email {
     padding: 5px;
     font-size: 16px;
     border-width: 1px;
     border: 0px;
     background-color: rgb(255 215 155 / 0%);
     border-style: solid;
     border-radius: 6px;
     margin-bottom: 0px;   
}
 .email:focus {
     outline:none;
}
#subscribBtn{
  border: 0px;
  background-color: rgb(154 48 23);
  padding: 15px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 1.5rem;
  border-radius: 5px;
  color: white;
}
.secondColumn .emailInput{
  width: 200px;
}
.secondColumn .emailInput hr{
  border: 1px solid rgb(154 48 23);
}
